extends layout

mixin formBody
    .form-group
        label(for='data_firstName')= t('user.field.firstName')
        input#data_firstName.form-control(
            class={
              'is-invalid': errors.firstName
            }
            name='data[firstName]'
            type='text'
            value=values.firstName
            required
        )
        .invalid-feedback #{errors.firstName}
    .form-group
        label(for='data_lastName')= t('user.field.lastName')
        input#data_lastName.form-control(
            class={
              'is-invalid': errors.lastName
            }
            name='data[lastName]'
            type='text'
            value=values.lastName
            required
        )
        .invalid-feedback #{errors.lastName}
    .form-group
        label(for='data_email')= t('user.field.email')
        input#data_email.form-control(
            class={
              'is-invalid': errors.email
            }
            name='data[email]'
            type='email'
            value=values.email
            required
        )
        .invalid-feedback #{errors.email}
    .form-group
        label(for='data_password')= t('user.field.password')
        input#data_password.form-control(
            class={
              'is-invalid': errors.password
            }
            name='data[password]'
            type='password'
            required=(path === 'signup')
        )
        .invalid-feedback #{errors.password}
    input.btn.btn-primary(type='submit' value= t((path === 'signup') ? 'app.button.save' : 'user.button.edit'))


block content
    if (path === 'users')
        form(method='post' action=`/users/${user.id}`)
            input(type='hidden' name='_method' value='patch')
            +formBody
    else
        form(method='post' action=`/users`)
            +formBody
