extends layout

block content
    a.btn.btn-light.ml-auto.mb-4(href='/statuses/new')= t('status.button.create')
    table.table.table-dark.table-striped.table-hover
        tr
            th= t('status.field.id')
            th= t('status.field.name')
            th= t('status.field.createdAt')
            th
        tbody
        each status in statuses
          tr
            td #{status.id}
            td #{status.name}
            td #{status.created_at}
            td
                a.btn.btn-link.text-warning(href=`/statuses/${status.id}/edit`)= t('status.button.edit')
                form(action=`/statuses/${status.id}` method='post')
                    input(type='hidden' name='_method' value='delete')
                    input.btn.btn-link.text-danger(type='submit' value= t('status.button.delete'))
