extends layout

block content
    table.table.table-dark.table-striped.table-hover
        tr
            th= t('user.field.id')
            th= t('user.field.fullName')
            th= t('user.field.email')
            th
        tbody
        each user in users
          tr
            td #{user.id}
            td #{user.firstName} #{user.lastName}
            td #{user.email}
            td
                a.btn.btn-link.text-warning(href=`/users/${user.id}/edit`)= t('user.button.edit')
                form(action=`/users/${user.id}` method='post')
                    input(type='hidden' name='_method' value='delete')
                    input.btn.btn-link.text-danger(type='submit' value= t('user.button.delete'))
