extends layout

block content
    table.table.table-dark.table-striped.table-hover
        tr
            th= t('user.field.id')
            th= t('user.field.fullName')
            th= t('user.field.email')
            th
        tbody
        each user in users
          tr
            td #{user.id}
            td #{user.firstName} #{user.lastName}
            td #{user.email}
            td
                a(href=`/users/${user.id}/edit`)= t('user.button.edit')
                br
                a(href=`/users/${user.id}/delete`)= t('user.button.delete')
